.footer__content {
    background-color: gray;
    padding: 20px;
    color: white;
    position: relative;
}

.footer__logo {
    width: 64px;
}

.footer_license {
    margin: 0;
}

.footer__link {
    text-decoration: none;
    color: white;
}